.feed {
    flex: 0.6;
    margin: 0px 20px;
}

.feed__inputContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed__input > form {
    display: flex;
    width: 100%;
}

.feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed__input > form > button {
    display: none;
}

.feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
}
.post_board{
    padding:1rem;
}


.feed_photo_input{
    display:none;
}
.feed_photo_input > input{
    height:2rem;
    width:97%;
    border:1px solid rgb(230, 220, 220);
    border-radius:1rem;
    margin:0.5rem;
}
.feed_photo_input > button{
    width:3rem;
    height:2rem;
    border:none;
    background-color: aliceblue;
}
.feed_photo_input  > ::placeholder{
    padding-left:1rem;
}


.feed_video_input{
    display:none;
}
.feed_video_input > input{
    height:2rem;
    width:97%;
    border:1px solid rgb(230, 220, 220);
    border-radius:1rem;
    margin:0.5rem;
}
.feed_video_input > button{
    width:3rem;
    height:2rem;
    border:none;
    background-color: aliceblue;
}
.feed_video_input > ::placeholder{
    padding-left:1rem;
}


.feed_Event_input{
    display:none;
}
.feed_Event_input > input{
    height:2rem;
    width:97%;
    border:1px solid rgb(230, 220, 220);
    border-radius:1rem;
    margin:0.5rem;
}
.feed_Event_input  > button{
    width:3rem;
    height:2rem;
    border:none;
    background-color: aliceblue;
}
.feed_Event_input  > ::placeholder{
    padding-left:1rem;
}

.feed_Article_input{
    display:none;
}
.feed_Article_input > textarea{
    height:10rem;
    width:97%;
    border:1px solid rgb(230, 220, 220);
    border-radius:1rem;
    padding:0.5rem;
}
.feed_Article_input > button{
    width:3rem;
    height:2rem;
    border:none;
    background-color: aliceblue;
}
.feed_Article_input > ::placeholder{
    padding-left:1rem;
}
